@import 'index';
@import 'topRated';
@import 'mixin';
@import 'topRated';
@import 'sign';
@import 'about';
@import 'share';
@import 'media';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

nav {
    .brand-logo {
        font-family: 'Abril Fatface', cursive;
        color: #B8685D;
        margin-left: 1rem;
    }
}

.page-footer {
    background-color: #241A12;

    .footer-copyright {
        background-color: #3d2d20;

    }
}